<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>


<router-outlet></router-outlet>




<!-- ================================================================================================== -->
<!-- App for section 1 and 2 -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 column-div">
      <h3 class="app-heading">I'm in the AppComponent</h3>
      <hr />
      <app-servers></app-servers>
    </div>
  </div>
</div> -->

<!-- =================================================================================================== -->


<!-- ###################################
Recipe Book
===================================
Root Component

Header Component

Shopping List - F
  --Shopping List Edit - C
  --Shopping List Edit - C
  --Ingredient - M
  
Recipe Book - F
  --Recipe List - C
  --Recipe Item - C
  --Recipe Detail - C
  --Recipe - M
-----------------------------------

--Models, components, Feature
=================================== -->